@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/health6.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

.backgroundresult{
    background: rgba(0, 0, 0, 0.7) url('../img/report3.jpg');
    background-size: cover;
    background-blend-mode: darken;



}
.firstsection{
    height: 80vh;
}

.firstsectionresult{
    height: 60vh;
}

.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin: auto;
    height: 95%;

}

.leftside{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-big{
    padding: 15px 12px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: 1000;
}


.text-small{
    padding: 8px 30px;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    
}


.rightside{
    width: 47%;

}

.btn{
    padding: 8px 20px;
    margin: 15px 5px;
    border: 2px solid white;
    border-radius: 10px;
    
    color: white;
    cursor: pointer;
    
}

.btn1{border: 2px solid black;

}

.buttons{
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: 9px -73px;

}

.rightnav{
    /*background-color: orangered;*/
    width: 49%;
    text-align: right;
    margin-right: 9px;

}

#Search{
    padding: 3.5px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 9px;
}

.btn{

color: white;
}



.navbar{
    background-color: black !important;

}

.paragraph3{
    align-items: center;
    justify-content: center;
    width: 100%;
    
    height: 25vh;
    margin: -px -4px;
    
}


.heading{
    height: 15vh;
    padding: 5px 22px;
    margin: 10px 330px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
  


.paragraph4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    margin: -50px 64px;
    padding: -200px 10px;
    
}


.headingtag1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;


}
.headingsubtag1{
    font-family: 'Poppins', sans-serif;

}

.paragraph1{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}

.sectiontag{
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.sectionsubtag{
    
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}

.thumbnail{
    padding: 6px 48px;
}
.imgfluid1{
    padding: 15px 0px;
    margin: 13px -82px;
    width: 601px;
    
}

.paras1{
    width: 435px;
}

.paragraph2{
    
    height: 242px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 10px 177px;
    flex-direction: row-reverse;
}

.paras2{
    padding: 11px 16px;
    margin: 10px 35px;
}

.imgfluid2{
    padding: 15px 0px;
    margin: -180px -10px;
    width: 550px;
}

.background1{
    background: rgba(0, 0, 0, 0.7) url('../img/heatlh5.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.paragraph5{
    height: 50vh;
    margin: 60px 0px;
}

.headingsubtag2{
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

.text5{
    margin: 10px 38px;
    padding: 95px 117px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

.btn1{
    padding: 9px 20px;
    margin: -29px 589px;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.buttons1{
    align-items: center;
    justify-content: center;
    margin: -71px 10px;
}

.buttons1result{
    align-items: center;
    justify-content: center;
    margin: -71px 10px;

}
.footer{
    padding: 128px 10px;
    
}

.footertext{
    margin: -51px 434px;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.endlogosize{
    width: 20%;
    padding: 60px 10px;
    margin: -14px 529px;
}

.paragraph6{
    height: 40vh;
}

.headingtag3{
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 29px;
    
    
}

.text6{
    text-align: center;
   
}

.headingsubtag3{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-decoration: none;
    margin: 1px -7px;
}

.background2{
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}

.footertext{

    color: white;
}